

.root{
	/*-fx-background-color:#333333;*/
}

.button{
	-fx-background-color: #E95420;
	-fx-text-fill: #FFFFFF;
}

.button:hover{
	-fx-text-fill: #000000;
}
.list-cell{
    -fx-font-size:17.0;
    -fx-text-fill: 	#000000;

}
.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
.hbox {
    -fx-background-color: #20B2AA;
    -fx-padding: 15;
    -fx-spacing: 10;
}
vbox{
     -fx-background-color: #20B2AA;
}
 
